In [1]:
#!pip -q install requests_html

In [2]:
import requests
import time
import datetime
from requests_html import HTMLSession
import pandas as pd

# HDFS dosya aktarma i√ßin
from hdfs import InsecureClient
import os

In [3]:
data=pd.read_csv("./covid19-Turkey.csv",index_col="date")

In [4]:
data.tail(3)

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-25,4532672,225173,5596,1252,386,208477,43312,921,16,1103
2020-07-26,4572688,226100,5613,1249,387,209487,40016,927,17,1010
2020-07-27,4617971,227019,5630,1263,392,210469,45283,919,17,982

In [5]:
url = "https://covid19.saglik.gov.tr/"

In [6]:
session = HTMLSession()
response = session.get(url)
title = response.html.find('title', first=True).text

In [7]:
totalTests = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[1]/span[2]')
totalTests=int(totalTests[0].text.replace('.',''))
totalCases = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[2]/span[2]')
totalCases=int(totalCases[0].text.replace('.',''))
totalDeath = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[3]/span[2]')
totalDeath=int(totalDeath[0].text.replace('.',''))
totalIntensiveCare = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[4]/span[2]')
totalIntensiveCare=int(totalIntensiveCare[0].text.replace('.',''))
totalIntubated = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[5]/span[2]')
totalIntubated=int(totalIntubated[0].text.replace('.',''))
totalRecovered = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[6]/span[2]')
totalRecovered=int(totalRecovered[0].text.replace('.',''))
dailyTest = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[1]/span[2]')
dailyTest=int(dailyTest[0].text.replace('.',''))
dailyCases = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[2]/span[2]')
dailyCases=int(dailyCases[0].text.replace('.',''))
dailyDeath = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[3]/span[2]')
dailyDeath=int(dailyDeath[0].text.replace('.',''))
dailyRecovered = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[4]/span[2]')
dailyRecovered=int(dailyRecovered[0].text.replace('.',''))
date=datetime.datetime.now().strftime("%Y-%m-%d")

In [8]:
print("******* TURKEY MINISTRY OF HEALTH *******")
print("                DATE: %s  " %(date),
      "          TOTAL TEST: %s  " %(totalTests), 
      "         TOTAL CASES: %s  " %(totalCases), 
      "         TOTAL DEATH: %s  " %(totalDeath), 
      "TOTAL INTENSIVE CATE: %s  " %(totalIntensiveCare), 
      "     TOTAL INTUBATED: %s  " %(totalIntubated), 
      "     TOTAL RECOVERED: %s  " %(totalRecovered), 
      "          DAILY TEST: %s  " %(dailyTest), 
      "         DAILY CASES: %s  " %(dailyCases), 
      "         DAILY DEATH: %s  " %(dailyDeath), 
      "     DAILY RECOVERED: %s  " %(dailyRecovered), 
      sep="\n")

******* TURKEY MINISTRY OF HEALTH *******
                DATE: 2020-07-29
          TOTAL TEST: 4665383
         TOTAL CASES: 227982
         TOTAL DEATH: 5645
TOTAL INTENSIVE CATE: 1280
     TOTAL INTUBATED: 403
     TOTAL RECOVERED: 211561
          DAILY TEST: 47412
         DAILY CASES: 963
         DAILY DEATH: 15
     DAILY RECOVERED: 1092

In [9]:
yeni_data = pd.DataFrame({
                           "date":[date],
                            "totalTests":[totalTests],
                            "totalCases":[totalCases],
                            "totalDeaths":[totalDeath],
                            "totalIntensiveCare":[totalIntensiveCare],
                            "totalIntubated":[totalIntubated],
                            "totalRecovered":[totalRecovered],
                            "dailyTests":[dailyTest],
                            "dailyCases":[dailyCases],
                            "dailyDeaths":[dailyDeath],
                            "dailyRecovered":[dailyRecovered]
                         }) 
yeni_data=yeni_data.set_index('date')
yeni_data.index=pd.to_datetime(yeni_data.index, format ='%Y-%m-%d')
yeni_data

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-29,4665383,227982,5645,1280,403,211561,47412,963,15,1092

In [10]:
for i in yeni_data.index.to_list():
    if i not in data.index.to_list():
        data=data.append(yeni_data)
        print("Yeni veri eklendi")

Yeni veri eklendi

In [11]:
data.index = pd.to_datetime(data.index, format ='%Y-%m-%d')

In [12]:
data.tail(2)

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-27,4617971,227019,5630,1263,392,210469,45283,919,17,982
2020-07-29,4665383,227982,5645,1280,403,211561,47412,963,15,1092

In [13]:
data.to_csv('covid19-Turkey.csv')

In [1]:
!pip install hdfs

Collecting hdfs
  Downloading hdfs-2.5.8.tar.gz (41 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 41 kB 446 kB/s eta 0:00:01
Collecting docopt
  Downloading docopt-0.6.2.tar.gz (25 kB)
Requirement already satisfied: requests>=2.7.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from hdfs) (2.24.0)
Requirement already satisfied: six>=1.9.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from hdfs) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.7.0->hdfs) (3.0.4)
Building wheels for collected packages: hdfs, docopt
  Building wheel for hdfs (setup.py) ... done
  Created wheel for hdfs: filename=hdfs-2.5.8-py3-none-any.whl size=33213 sha256=30a1f322929459f76e8180a26de2a2b0c1eb58b11a70d5e981da8bdff53103c1
  Stored in directory: /Users/macbook/Library/Caches/pip/wheels/43/cb/59/3fdce328ada746ea437798538a9808e4f730135f5a26f137a4
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13704 sha256=128213af28dfcffb31bcf1464d0c18e4da370c4d56fff2ee819fc58460e383e0
  Stored in directory: /Users/macbook/Library/Caches/pip/wheels/56/ea/58/ead137b087d9e326852a851351d1debf4ada529b6ac0ec4e8c
Successfully built hdfs docopt
Installing collected packages: docopt, hdfs
Successfully installed docopt-0.6.2 hdfs-2.5.8

In [53]:
client_hdfs = InsecureClient('http://192.168.1.37:50070',user='cloudera')

In [48]:
client_hdfs.makedirs('/user/turkey-covid-dataset')

In [47]:
client_hdfs.list('/user/')

['admin',
 'cloudera',
 'hdfs',
 'history',
 'hive',
 'oozie',
 'spark',
 'test',
 'turkey-covid-dataset']

In [49]:
client_hdfs.list('/user/turkey-covid-dataset')

['covid19-Turkey.csv']

In [61]:
client_hdfs.upload('/user/turkey-covid-dataset/','./covid19-Turkey.csv',overwrite=True)

'/user/turkey-covid-dataset/covid19-Turkey.csv'

In [62]:
#client_hdfs.delete('/user/turkey-covid-dataset/covid19-Turkey.csv')

In [64]:
with client_hdfs.read('/user/turkey-covid-dataset/covid19-Turkey.csv', encoding = 'utf-8') as reader:
    df = pd.read_csv(reader,index_col=0)

In [66]:
df.tail()

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-24,4489360,224252,5580,1248,379,207374,42986,937,17,1009
2020-07-25,4532672,225173,5596,1252,386,208477,43312,921,16,1103
2020-07-26,4572688,226100,5613,1249,387,209487,40016,927,17,1010
2020-07-27,4617971,227019,5630,1263,392,210469,45283,919,17,982
2020-07-28,4665383,227982,5645,1280,403,211561,47412,963,15,1092