In [1]:
#!pip -q install requests_html

In [2]:
import requests
import time
import datetime
from requests_html import HTMLSession
import pandas as pd

In [3]:
data=pd.read_csv("./covid19-Turkey.csv",index_col="date")

In [4]:
data.tail(3)

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-25,4532672,225173,5596,1252,386,208477,43312,921,16,1103
2020-07-26,4572688,226100,5613,1249,387,209487,40016,927,17,1010
2020-07-27,4617971,227019,5630,1263,392,210469,45283,919,17,982

In [5]:
url = "https://covid19.saglik.gov.tr/"

In [6]:
session = HTMLSession()
response = session.get(url)
title = response.html.find('title', first=True).text

In [7]:
totalTests = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[1]/span[2]')
totalTests=int(totalTests[0].text.replace('.',''))
totalCases = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[2]/span[2]')
totalCases=int(totalCases[0].text.replace('.',''))
totalDeath = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[3]/span[2]')
totalDeath=int(totalDeath[0].text.replace('.',''))
totalIntensiveCare = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[4]/span[2]')
totalIntensiveCare=int(totalIntensiveCare[0].text.replace('.',''))
totalIntubated = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[5]/span[2]')
totalIntubated=int(totalIntubated[0].text.replace('.',''))
totalRecovered = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/div[1]/div/ul/li[6]/span[2]')
totalRecovered=int(totalRecovered[0].text.replace('.',''))
dailyTest = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[1]/span[2]')
dailyTest=int(dailyTest[0].text.replace('.',''))
dailyCases = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[2]/span[2]')
dailyCases=int(dailyCases[0].text.replace('.',''))
dailyDeath = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[3]/span[2]')
dailyDeath=int(dailyDeath[0].text.replace('.',''))
dailyRecovered = response.html.xpath('/html/body/div/div[2]/div/div[3]/div[1]/div/div/div/div/div[2]/div[2]/div/ul/li[4]/span[2]')
dailyRecovered=int(dailyRecovered[0].text.replace('.',''))
date=datetime.datetime.now().strftime("%Y-%m-%d")

In [8]:
print("******* TURKEY MINISTRY OF HEALTH *******")
print("                DATE: %s  " %(date),
      "          TOTAL TEST: %s  " %(totalTests), 
      "         TOTAL CASES: %s  " %(totalCases), 
      "         TOTAL DEATH: %s  " %(totalDeath), 
      "TOTAL INTENSIVE CATE: %s  " %(totalIntensiveCare), 
      "     TOTAL INTUBATED: %s  " %(totalIntubated), 
      "     TOTAL RECOVERED: %s  " %(totalRecovered), 
      "          DAILY TEST: %s  " %(dailyTest), 
      "         DAILY CASES: %s  " %(dailyCases), 
      "         DAILY DEATH: %s  " %(dailyDeath), 
      "     DAILY RECOVERED: %s  " %(dailyRecovered), 
      sep="\n")

******* TURKEY MINISTRY OF HEALTH *******
                DATE: 2020-07-29
          TOTAL TEST: 4665383
         TOTAL CASES: 227982
         TOTAL DEATH: 5645
TOTAL INTENSIVE CATE: 1280
     TOTAL INTUBATED: 403
     TOTAL RECOVERED: 211561
          DAILY TEST: 47412
         DAILY CASES: 963
         DAILY DEATH: 15
     DAILY RECOVERED: 1092

In [9]:
yeni_data = pd.DataFrame({
                           "date":[date],
                            "totalTests":[totalTests],
                            "totalCases":[totalCases],
                            "totalDeaths":[totalDeath],
                            "totalIntensiveCare":[totalIntensiveCare],
                            "totalIntubated":[totalIntubated],
                            "totalRecovered":[totalRecovered],
                            "dailyTests":[dailyTest],
                            "dailyCases":[dailyCases],
                            "dailyDeaths":[dailyDeath],
                            "dailyRecovered":[dailyRecovered]
                         }) 
yeni_data=yeni_data.set_index('date')
yeni_data.index=pd.to_datetime(yeni_data.index, format ='%Y-%m-%d')
yeni_data

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-29,4665383,227982,5645,1280,403,211561,47412,963,15,1092

In [10]:
for i in yeni_data.index.to_list():
    if i not in data.index.to_list():
        data=data.append(yeni_data)
        print("Yeni veri eklendi")

Yeni veri eklendi

In [11]:
data.index = pd.to_datetime(data.index, format ='%Y-%m-%d')

In [12]:
data.tail(2)

,totalTests,totalCases,totalDeaths,totalIntensiveCare,totalIntubated,totalRecovered,dailyTests,dailyCases,dailyDeaths,dailyRecovered
date,,,,,,,,,,
2020-07-27,4617971,227019,5630,1263,392,210469,45283,919,17,982
2020-07-29,4665383,227982,5645,1280,403,211561,47412,963,15,1092

In [13]:
data.to_csv('covid19-Turkey.csv')

In [1]:
subprocess.call()

NameError: name 'subprocess' is not defined